@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Luckiest+Guy&family=Staatliches&display=swap');

h1, .h1 {
    font-size: 6rem;
    font-family: 'Jockey One', sans-serif;
    font-weight: bold;
}
a{
    background: rgb(224, 103, 103);
    font-family: 'Jockey One', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none !important;
    padding: 20px;
    color: black;
}
.link{
    margin-top: 35px;
}