@import 'mixins';

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none !important;
}

.clearfix{
    clear: both;
    float: none;
}
body{
   background: url('../img/cubes.png') rgb(204, 203, 203);
}